<div>

  <head>
    <meta charset="utf-8">

    <style>
      body{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
      }
      .contenedor{
        background-color:rgb(130, 159, 238);
        height: 75vh;
        margin: 25%;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>

  </head>
  <body>
    <div class="contenedor">
    <div align="center">
      <h1>L O G I N</h1>
      <form>
        <label>Por Favor, ingresa tu correo y contrasena</label>
        <br>
        <br>
        <input type="email" name ="email" placeholder="Username">
        <br>
        <br>
        <input type="password" name ="password" placeholder="Password">
        <br>
        <br>
        <input type="submit" value="LogIn">
        <br>
      </form>
    </div>
  </div> 
  </body>

</div>
