<div>

  <head>
    <meta charset="utf-8">

    <style>
      body {
        background-color:aqua;
      }
      
    </style>

  </head>
  <body>

    <div class="login-box">
      <h1>Login</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username">
        <!-- PASSWORD INPUT -->
        <br>
        <br>
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">
        <br>
        <br>
        <input type="submit" value="Log In">
        <br>
      </form>
    </div>
  </body>

</div>
